<%- include('../../partials/headers') %>

<div class="d-flex" style="margin-top: 5%" id="wrapper">

    <%- include('../../partials/sidebar') %>
    <div class="container-fluid">
        <div class="container-fluid">
            <h1><b>Edit Issue</b></h1>
            <hr />
        </div>

        <div class="container-fluid" style="margin-top:-40px; ">
            <div class="row">
                <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
                <div class="container-fluid">
                    <form method="post" encType="multipart/form-data">
                        <div class="card mt-5">
                            <div class="card-body">

                                <!-- tracker -->
                                <div class="form-group row">
                                    <legend class="col-form-label col-sm-2 pt-0">Tracker</legend>
                                    <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                        <div class="col-sm-10">
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="trackerissue"
                                                    id="trackerissueRadio1" value="Bug"
                                                    <%= data.tracker == 'Bug' ? ' checked' : '' %>>
                                                <label class="custom-control-label" for="trackerissueRadio1">
                                                    Bug
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="trackerissue"
                                                    id="trackerissueRadio2" value="Feature"
                                                    <%= data.tracker == 'Feature' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="trackerissueRadio2">
                                                    Feature
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="trackerissue"
                                                    id="trackerissueRadio3" value="Support"
                                                    <%= data.tracker == 'Support' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="trackerissueRadio3">
                                                    Support
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- subject -->
                                <div class="form-group row">
                                    <label for="inputUser" class="col-sm-2 col-form-label">Subject</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="subjectform" name="subjectform"
                                            placeholder="Subject" value="<%= data.subject %>">
                                    </div>
                                </div>

                                <!-- description -->
                                <div class="form-group row">
                                    <label for="inputUser" class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="3" id="descriptionform"
                                            name="descriptionform" placeholder="Description"
                                            value=""><%= data.description %></textarea>
                                    </div>
                                </div>

                                <!-- status -->
                                <div class="form-group row">
                                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                    <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                        <div class="col-sm-10">
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="statusIssue"
                                                    id="statusIssueRadio1" value="New"
                                                    <%= data.status == 'New' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="statusIssueRadio1">
                                                    New
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="statusIssue"
                                                    id="statusIssueRadio2" value="In Progress"
                                                    <%= data.status == 'inprogress' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="statusIssueRadio2">
                                                    In Progress
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="statusIssue"
                                                    id="statusIssueRadio3" value="resolved"
                                                    <%= data.status == 'Resolved' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="statusIssueRadio3">
                                                    Resolved
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="statusIssue"
                                                    id="statusIssueRadio4" value="feedback"
                                                    <%= data.status == 'Feedback' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="statusIssueRadio4">
                                                    Feedback
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="statusIssue"
                                                    id="statusIssueRadio5" value="closed"
                                                    <%= data.status == 'Closed' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="statusIssueRadio5">
                                                    Closed
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="statusIssue"
                                                    id="statusIssueRadio6" value="rejected"
                                                    <%= data.status == 'Rejected' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="statusIssueRadio6">
                                                    Rejected
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- priority -->
                                <div class="form-group row">
                                    <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
                                    <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                        <div class="col-sm-10">
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="priorityissue"
                                                    id="priorityissueRadio1" value="normal"
                                                    <%= data.priority == 'normal' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="priorityissueRadio1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="priorityissue"
                                                    id="priorityissueRadio2" value="high"
                                                    <%= data.priority == 'high' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="priorityissueRadio2">
                                                    High
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="priorityissue"
                                                    id="priorityissueRadio3" value="urgent"
                                                    <%= data.priority == 'urgent' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="priorityissueRadio3">
                                                    Urgent
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio my-1 mr-sm-2">
                                                <input class="custom-control-input" type="radio" name="priorityissue"
                                                    id="priorityissueRadio4" value="immediate"
                                                    <%= data.priority == 'immediate' ? 'checked': '' %>>
                                                <label class="custom-control-label" for="priorityissueRadio4">
                                                    Immediate
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- assignee -->
                                <div class="form-group row">
                                    <label for="assigneeform" class="col-sm-2 col-form-label">Assignee</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select form-control" name="assigneeform"
                                            id="assigneeform">
                                            <option>Assignee</option>
                                            <% user.forEach((item) => { %>
                                            <option value="<%= item.userid  %>"
                                                <% if(item.userid == data.assignee) { %><%= item.firstname ? ' selected': ''%><% } %>>
                                                <%= item.firstname%> <%=item.lastname %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <!-- startdate -->
                                <div class="form-group row">
                                    <label for="startdateform" class="col-sm-2 col-form-label">Start Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="startdateform" name="startdateform"
                                            placeholder="Start Date"
                                            value="<%= moment(data.startdate).format('YYYY-MM-DD') %>">
                                    </div>
                                </div>

                                <!-- duedate -->
                                <div class="form-group row">
                                    <label for="duedateform" class="col-sm-2 col-form-label">Due Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="duedateform" name="duedateform"
                                            placeholder="Due Date"
                                            value="<%= moment(data.duedate).format('YYYY-MM-DD') %>">
                                    </div>
                                </div>

                                <!-- estimated date -->
                                <div class="form-group row">
                                    <label for="estimatedform" class="col-sm-2 col-form-label">Estimated Date</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="estimatedform"
                                            name="estimatedform" placeholder="Due Date"
                                            value="<%= data.estimatedtime %>">
                                    </div>
                                </div>

                                <!-- done -->
                                <div class="form-group row">
                                    <label for="doneform" class="col-sm-2 col-form-label">% Done</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select form-control" name="doneform" id="doneform">
                                            <option>Percentage</option>
                                            <option value="0" <%= data.done == '0' ? 'selected': '' %>>0%</option>
                                            <option value="25" <%= data.done == '25' ? 'selected': '' %>>25%</option>
                                            <option value="50" <%= data.done == '50' ? 'selected': '' %>> 50%</option>
                                            <option value="75" <%= data.done == '75' ? 'selected': '' %>>75%</option>
                                            <option value="100" <%= data.done == '100' ? 'selected': '' %>>100%</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="validatedCustomFile" class="col-sm-2 col-form-label">File</label>
                                    <div class="custom-file col-sm-8 ml-3">
                                        <input type="file" class="custom-file-input" id="validatedCustomFile"
                                            name="samplefile">
                                        <label class="custom-file-label" for="validatedCustomFile">Choose
                                            file...</label>
                                        <img src="/images/<%= data.file %>" width="50" height="50" alt="">
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="authoradd" class="col-sm-2 col-form-label">Author</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="authoradd" name="authoradd"
                                            placeholder="Author" value="" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="spentadd" class="col-sm-2 col-form-label">Spenttime</label>
                                    <div class="col-sm-9" >
                                        <input type="number" class="form-control" id="spenttime" name="spenttime"
                                            placeholder="Spenttime" value="" required> 
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="targetversion" class="col-sm-2 col-form-label">Target Version</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="targetversion" name="targetversion"
                                            placeholder="Target Version" value="" required>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-outline-primary">Save</button>
                                <a href='/projects/issues/<%= projectid %>' class="btn btn-outline-warning">Back</a>

                                <br>
                            </div>
                        </div>
                        <br><br>
                    </form>
                </div>
                <br>
                <!-- </main> -->
            </div>
        </div>
    </div>
</div>