<%- include('../partials/headers') %>

<br><br>
<h1 style="font-weight: bold;margin-top:15px;margin-left:30px">Add Projects</h1>
<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="addproject" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="addproject" name="addproject" placeholder="Project Name">
            </div>
        </div>
        <div class="form-group row">
            <legend class="col-form-label col-sm-2 pt-0">Members</legend>
            <fieldset id="status-radio" class="col-form-label col-sm-10 pt-0">
                <div class="col-sm-10">
                    <% data.forEach((item) => { %>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input class="custom-control-input" type="checkbox" name="members" id="member-<%= item.userid %>"
                            value="<%= item.userid %>">
                        <label class="custom-control-label" for="member-<%= item.userid %>">
                            <%= item.firstname%> <%=item.lastname %>
                        </label>
                    </div>
                    <%  }) %>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a href='/projects/list' class="btn btn-outline-warning">Back</a>
    </form>
</div>

<%- include('../partials/footer') %>